/* CSS for ChiliPeppr Widget */

#com-chilipeppr-widget-claure {
    position: absolute;
    /*top:0px;*/
    /*left:0px;*/
    bottom: 20px;
    right: 20px;
    width: 350px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    box-sizing: border-box;
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: transparent;
    /*z-index: -1;*/
}

#com-chilipeppr-widget-claure .panel-wrapper {
    /*position: absolute;*/
    /*bottom:20px;*/
    /*right:20px;*/
    /*width:300px;*/
}

#com-chilipeppr-widget-claure button {
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
}

#com-chilipeppr-widget-claure:before {
    box-sizing: border-box;
}

#com-chilipeppr-widget-claure:after {
    box-sizing: border-box;
}

#com-chilipeppr-widget-claure .nav-tabs>li>a {
    padding: 2px 6px;
}

.hidden {
    display: none!important;
    visibility: hidden!important;
}

.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-body {
    padding: 15px;
}

.pull-right {
    float: right!important;
}

#com-chilipeppr-widget-claure .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#com-chilipeppr-widget-claure .btn-default {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}

.btn-toolbar {
    margin-left: -5px;
}

.btn-toolbar>.btn,
.btn-toolbar>.btn-group,
.btn-toolbar>.input-group {
    margin-left: 5px;
}

.btn-toolbar .btn-group,
.btn-toolbar .input-group {
    float: left;
}

#com-chilipeppr-widget-claure .btn-group,
#com-chilipeppr-widget-claure .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#com-chilipeppr-widget-claure .btn-group>.btn:first-child {
    margin-left: 0;
}

#com-chilipeppr-widget-claure .btn-group>.btn,
#com-chilipeppr-widget-claure .btn-group-vertical>.btn {
    position: relative;
    float: left;
}

#com-chilipeppr-widget-claure .btn-xs,
#com-chilipeppr-widget-claure .btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

#com-chilipeppr-widget-claure .btn:hover,
#com-chilipeppr-widget-claure .btn:focus {
    color: #333;
    text-decoration: none;
}

#com-chilipeppr-widget-claure .btn-group>.btn:hover,
#com-chilipeppr-widget-claure .btn-group-vertical>.btn:hover,
#com-chilipeppr-widget-claure .btn-group>.btn:focus,
#com-chilipeppr-widget-claure .btn-group-vertical>.btn:focus,
#com-chilipeppr-widget-claure .btn-group>.btn:active,
#com-chilipeppr-widget-claure .btn-group-vertical>.btn:active,
#com-chilipeppr-widget-claure .btn-group>.btn.active,
#com-chilipeppr-widget-claure .btn-group-vertical>.btn.active {
    z-index: 2;
}

#com-chilipeppr-widget-claure .btn-default:hover,
#com-chilipeppr-widget-claure .btn-default:focus,
#com-chilipeppr-widget-claure .btn-default:active,
#com-chilipeppr-widget-claure .btn-default.active,
#com-chilipeppr-widget-claure .open .dropdown-toggle.btn-default {
    color: #333 !important;
    background-color: #ebebeb !important;
    border-color: #adadad !important;
}

.btn-group>.btn:focus,
.btn-group-vertical>.btn:focus {
    outline: 0;
}

.nav-tabs {
    margin-top: 0;
    border-bottom: 1px solid #ddd;
}

.nav-tabs a {
    text-decoration: none;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

#com-chilipeppr-widget-claure .tab-content>.active {
    display: block;
    font-size: 14px;
}

.tab-content>.tab-pane {
    display: none;
}

.glyphicon-chevron-up:before {
    content: "\e113";
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.btn .caret {
    margin-left: 0;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
    clear: both;
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical>.btn-group:before,
.btn-group-vertical>.btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/fonts/glyphicons-halflings-regular.eot);
    src: url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/fonts/glyphicons-halflings-regular.woff) format('woff'), url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-lock:before {
    content: "\e033";
}
#com-chilipeppr-widget-claure .form-control {
    margin: 0;
    display: block;
    /*width: 100%;*/
    /*height: 34px;*/
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#com-chilipeppr-widget-claure .input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
#com-chilipeppr-widget-claure .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
#com-chilipeppr-widget-claure .input-group .form-control:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
#com-chilipeppr-widget-claure .input-group-addon, #com-chilipeppr-widget-claure .input-group-btn, #com-chilipeppr-widget-claure .input-group .form-control {
    display: table-cell;
}
#com-chilipeppr-widget-claure .input-group-btn:last-child>.btn, #com-chilipeppr-widget-claure .input-group-btn:last-child>.btn-group {
    margin-left: -1px;
}
#com-chilipeppr-widget-claure .input-group-btn>.btn:hover, #com-chilipeppr-widget-claure .input-group-btn>.btn:focus, #com-chilipeppr-widget-claure .input-group-btn>.btn:active {
    z-index: 2;
}
#com-chilipeppr-widget-claure .input-group .form-control:last-child, #com-chilipeppr-widget-claure .input-group-addon:last-child, #com-chilipeppr-widget-claure .input-group-btn:last-child>.btn, #com-chilipeppr-widget-claure .input-group-btn:last-child>.btn-group>.btn, #com-chilipeppr-widget-claure .input-group-btn:last-child>.dropdown-toggle, #com-chilipeppr-widget-claure .input-group-btn:first-child>.btn:not(:first-child), #com-chilipeppr-widget-claure .input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
#com-chilipeppr-widget-claure .input-group-btn>.btn {
    position: relative;
}
#com-chilipeppr-widget-claure .input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
#com-chilipeppr-widget-claure .input-group-addon, #com-chilipeppr-widget-claure .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
#com-chilipeppr-widget-claure .input-group-addon, #com-chilipeppr-widget-claure .input-group-btn, #com-chilipeppr-widget-claure .input-group .form-control {
    display: table-cell;
}